<div>
	<div class="container">
		Filter by <ul>
			<li>
			</li>
		</ul>
		<ul>
			<div class="hr"></div>	
			<li ng-repeat="item in filtered = repoList | filter:active | startFrom:(currentPage - 1) * itemLimit | limitTo:itemLimit">
				{{ item.accountName }} / 
				<span class="repo-name">
					{{ item.repoName }}
				</span>
				<span ng-class="item.private ? 'private' : ''">
					{{ item.private ? 'private' : '' }}
				</span>
				<br/>
				<div class="description">
					{{ item.description }}
				</div>
				<div class="hr"></div>	
			</li>
		</ul>
		<ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="itemLimit"></ul>
	</div>
</div>